# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
build/web/index.xhtml
build/web/META-INF/context.xml
build/web/img/header.ico
build/web/stats.xhtml
build/web/META-INF/MANIFEST.MF
build/web/WEB-INF/classes/.netbeans_automatic_build
build/web/WEB-INF/classes/.netbeans_update_resources
build/web/WEB-INF/lib/ojdbc6.jar
*.war
build/web/WEB-INF/web.xml
build/web/WEB-INF/lib/javax.faces.jar
build/web/WEB-INF/lib/jxl.jar
build/web/WEB-INF/lib/primefaces-5.0.jar
dist/SMUBug.war
